@import "@/styles/mixins";

.container {
  width: 100%;

  display: grid;

  > button {
    justify-self: center;
    align-self: center;
  }
}

@include mobileWidth {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
    grid-gap: 8px;
  }
}

@include desktopWidth {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 4fr));
    grid-gap: 12px;
  }
}